
# cargo-vet config file

[cargo-vet]
version = "0.10"

[imports.bytecode-alliance]
url = "https://raw.githubusercontent.com/bytecodealliance/wasmtime/main/supply-chain/audits.toml"

[imports.embark-studios]
url = "https://raw.githubusercontent.com/EmbarkStudios/rust-ecosystem/main/audits.toml"

[imports.gnome-releng]
url = "https://gitlab.gnome.org/Teams/Releng/rust-supply-chain/-/raw/main/gnome-audited/audits.toml"

[imports.google]
url = "https://raw.githubusercontent.com/google/supply-chain/main/audits.toml"

[imports.isrg]
url = "https://raw.githubusercontent.com/divviup/libprio-rs/main/supply-chain/audits.toml"

[imports.mozilla]
url = "https://raw.githubusercontent.com/mozilla/supply-chain/main/audits.toml"

[imports.swsnr]
url = "https://codeberg.org/swsnr/rust-supply-chain/raw/branch/main/audits.toml"

[policy.gnome-search-providers-vscode]
criteria = "safe-to-run"
notes = "Just a local service with little to no external exposure, so safe-to-run is enough"

[[exemptions.aho-corasick]]
version = "1.1.4"
criteria = "safe-to-run"

[[exemptions.async-executor]]
version = "1.13.3"
criteria = "safe-to-run"

[[exemptions.async-lock]]
version = "3.4.2"
criteria = "safe-to-run"

[[exemptions.async-recursion]]
version = "1.1.1"
criteria = "safe-to-run"

[[exemptions.async-task]]
version = "4.7.1"
criteria = "safe-to-run"

[[exemptions.enumflags2]]
version = "0.7.12"
criteria = "safe-to-run"

[[exemptions.enumflags2_derive]]
version = "0.7.12"
criteria = "safe-to-run"

[[exemptions.event-listener]]
version = "5.4.0"
criteria = "safe-to-run"

[[exemptions.event-listener-strategy]]
version = "0.5.2"
criteria = "safe-to-run"

[[exemptions.fallible-streaming-iterator]]
version = "0.1.9"
criteria = "safe-to-run"

[[exemptions.futures-lite]]
version = "2.6.1"
criteria = "safe-to-run"

[[exemptions.getrandom]]
version = "0.3.4"
criteria = "safe-to-run"

[[exemptions.hashbrown]]
version = "0.16.1"
criteria = "safe-to-run"

[[exemptions.hashlink]]
version = "0.9.1"
criteria = "safe-to-run"

[[exemptions.hermit-abi]]
version = "0.5.2"
criteria = "safe-to-run"

[[exemptions.icu_collections]]
version = "2.1.1"
criteria = "safe-to-run"

[[exemptions.icu_locale_core]]
version = "2.1.1"
criteria = "safe-to-run"

[[exemptions.icu_normalizer]]
version = "2.1.1"
criteria = "safe-to-run"

[[exemptions.icu_normalizer_data]]
version = "2.1.1"
criteria = "safe-to-run"

[[exemptions.icu_properties]]
version = "2.1.2"
criteria = "safe-to-run"

[[exemptions.icu_properties_data]]
version = "2.1.2"
criteria = "safe-to-run"

[[exemptions.icu_provider]]
version = "2.1.1"
criteria = "safe-to-run"

[[exemptions.itoa]]
version = "1.0.17"
criteria = "safe-to-run"

[[exemptions.js-sys]]
version = "0.3.83"
criteria = "safe-to-run"

[[exemptions.litemap]]
version = "0.8.1"
criteria = "safe-to-run"

[[exemptions.log]]
version = "0.4.29"
criteria = "safe-to-run"

[[exemptions.ordered-stream]]
version = "0.2.0"
criteria = "safe-to-run"

[[exemptions.piper]]
version = "0.2.4"
criteria = "safe-to-run"

[[exemptions.potential_utf]]
version = "0.1.4"
criteria = "safe-to-run"

[[exemptions.r-efi]]
version = "5.2.0"
criteria = "safe-to-run"

[[exemptions.rustix]]
version = "1.1.3"
criteria = "safe-to-run"

[[exemptions.rustversion]]
version = "1.0.22"
criteria = "safe-to-run"

[[exemptions.signal-hook-registry]]
version = "1.4.8"
criteria = "safe-to-run"

[[exemptions.syn]]
version = "2.0.111"
criteria = "safe-to-run"

[[exemptions.tempfile]]
version = "3.24.0"
criteria = "safe-to-run"

[[exemptions.tinystr]]
version = "0.8.2"
criteria = "safe-to-run"

[[exemptions.toml_datetime]]
version = "0.7.5+spec-1.1.0"
criteria = "safe-to-run"

[[exemptions.toml_edit]]
version = "0.23.10+spec-1.0.0"
criteria = "safe-to-run"

[[exemptions.toml_parser]]
version = "1.0.6+spec-1.1.0"
criteria = "safe-to-run"

[[exemptions.tracing]]
version = "0.1.44"
criteria = "safe-to-run"

[[exemptions.tracing-attributes]]
version = "0.1.31"
criteria = "safe-to-run"

[[exemptions.tracing-core]]
version = "0.1.36"
criteria = "safe-to-run"

[[exemptions.tracing-journald]]
version = "0.3.1"
criteria = "safe-to-run"

[[exemptions.tracing-subscriber]]
version = "0.3.22"
criteria = "safe-to-run"

[[exemptions.uds_windows]]
version = "1.1.0"
criteria = "safe-to-run"

[[exemptions.uuid]]
version = "1.19.0"
criteria = "safe-to-run"

[[exemptions.wasm-bindgen]]
version = "0.2.106"
criteria = "safe-to-run"

[[exemptions.wasm-bindgen-macro]]
version = "0.2.106"
criteria = "safe-to-run"

[[exemptions.wasm-bindgen-macro-support]]
version = "0.2.106"
criteria = "safe-to-run"

[[exemptions.wasm-bindgen-shared]]
version = "0.2.106"
criteria = "safe-to-run"

[[exemptions.winapi-i686-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-run"

[[exemptions.winapi-x86_64-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-run"

[[exemptions.winnow]]
version = "0.7.14"
criteria = "safe-to-run"

[[exemptions.writeable]]
version = "0.6.2"
criteria = "safe-to-run"

[[exemptions.yoke]]
version = "0.8.1"
criteria = "safe-to-run"

[[exemptions.yoke-derive]]
version = "0.8.1"
criteria = "safe-to-run"

[[exemptions.zerotrie]]
version = "0.2.3"
criteria = "safe-to-run"

[[exemptions.zerovec]]
version = "0.11.5"
criteria = "safe-to-run"

[[exemptions.zerovec-derive]]
version = "0.11.2"
criteria = "safe-to-run"

[[exemptions.zmij]]
version = "1.0.0"
criteria = "safe-to-run"
