
# cargo-vet config file

[cargo-vet]
version = "0.10"

[imports.bytecode-alliance]
url = "https://raw.githubusercontent.com/bytecodealliance/wasmtime/main/supply-chain/audits.toml"

[imports.embark-studios]
url = "https://raw.githubusercontent.com/EmbarkStudios/rust-ecosystem/main/audits.toml"

[imports.gnome-releng]
url = "https://gitlab.gnome.org/Teams/Releng/rust-supply-chain/-/raw/main/gnome-audited/audits.toml"

[imports.google]
url = "https://raw.githubusercontent.com/google/supply-chain/main/audits.toml"

[imports.mozilla]
url = "https://raw.githubusercontent.com/mozilla/supply-chain/main/audits.toml"

[imports.swsnr]
url = "https://codeberg.org/swsnr/rust-supply-chain/raw/branch/main/audits.toml"

[policy.gnome-search-providers-vscode]
criteria = "safe-to-run"
notes = "Just a local service with little to no external exposure, so safe-to-run is enough"

[[exemptions.async-io]]
version = "2.4.0"
criteria = "safe-to-run"

[[exemptions.async-lock]]
version = "3.4.0"
criteria = "safe-to-run"

[[exemptions.async-process]]
version = "2.3.0"
criteria = "safe-to-run"

[[exemptions.async-signal]]
version = "0.2.10"
criteria = "safe-to-run"

[[exemptions.async-task]]
version = "4.7.1"
criteria = "safe-to-run"

[[exemptions.blocking]]
version = "1.6.1"
criteria = "safe-to-run"

[[exemptions.enumflags2]]
version = "0.7.11"
criteria = "safe-to-run"

[[exemptions.event-listener]]
version = "5.4.0"
criteria = "safe-to-run"

[[exemptions.event-listener-strategy]]
version = "0.5.2"
criteria = "safe-to-run"

[[exemptions.fallible-streaming-iterator]]
version = "0.1.9"
criteria = "safe-to-run"

[[exemptions.futures-lite]]
version = "2.6.0"
criteria = "safe-to-run"

[[exemptions.hashlink]]
version = "0.9.1"
criteria = "safe-to-run"

[[exemptions.icu_locid_transform_data]]
version = "1.5.1"
criteria = "safe-to-run"

[[exemptions.icu_properties_data]]
version = "1.5.1"
criteria = "safe-to-run"

[[exemptions.mio]]
version = "1.0.3"
criteria = "safe-to-run"

[[exemptions.ordered-stream]]
version = "0.2.0"
criteria = "safe-to-run"

[[exemptions.piper]]
version = "0.2.4"
criteria = "safe-to-run"

[[exemptions.polling]]
version = "3.7.4"
criteria = "safe-to-run"

[[exemptions.sharded-slab]]
version = "0.1.7"
criteria = "safe-to-run"

[[exemptions.tracing]]
version = "0.1.41"
criteria = "safe-to-run"

[[exemptions.tracing-attributes]]
version = "0.1.28"
criteria = "safe-to-run"

[[exemptions.tracing-core]]
version = "0.1.33"
criteria = "safe-to-run"

[[exemptions.tracing-journald]]
version = "0.3.1"
criteria = "safe-to-run"

[[exemptions.tracing-subscriber]]
version = "0.3.19"
criteria = "safe-to-run"
