
# cargo-vet config file

[cargo-vet]
version = "0.10"

[imports.bytecode-alliance]
url = "https://raw.githubusercontent.com/bytecodealliance/wasmtime/main/supply-chain/audits.toml"

[imports.embark-studios]
url = "https://raw.githubusercontent.com/EmbarkStudios/rust-ecosystem/main/audits.toml"

[imports.gnome-releng]
url = "https://gitlab.gnome.org/Teams/Releng/rust-supply-chain/-/raw/main/gnome-audited/audits.toml"

[imports.google]
url = "https://raw.githubusercontent.com/google/supply-chain/main/audits.toml"

[imports.mozilla]
url = "https://raw.githubusercontent.com/mozilla/supply-chain/main/audits.toml"

[imports.swsnr]
url = "https://codeberg.org/swsnr/rust-supply-chain/raw/branch/main/audits.toml"

[policy.gnome-search-providers-vscode]
criteria = "safe-to-run"
notes = "Just a local service with little to no external exposure, so safe-to-run is enough"

[[exemptions.async-lock]]
version = "3.4.0"
criteria = "safe-to-run"

[[exemptions.async-recursion]]
version = "1.1.1"
criteria = "safe-to-run"

[[exemptions.async-task]]
version = "4.7.1"
criteria = "safe-to-run"

[[exemptions.enumflags2]]
version = "0.7.12"
criteria = "safe-to-run"

[[exemptions.enumflags2_derive]]
version = "0.7.12"
criteria = "safe-to-run"

[[exemptions.event-listener]]
version = "5.4.0"
criteria = "safe-to-run"

[[exemptions.event-listener-strategy]]
version = "0.5.2"
criteria = "safe-to-run"

[[exemptions.fallible-streaming-iterator]]
version = "0.1.9"
criteria = "safe-to-run"

[[exemptions.futures-lite]]
version = "2.6.1"
criteria = "safe-to-run"

[[exemptions.hashlink]]
version = "0.9.1"
criteria = "safe-to-run"

[[exemptions.hermit-abi]]
version = "0.5.2"
criteria = "safe-to-run"

[[exemptions.log]]
version = "0.4.29"
criteria = "safe-to-run"

[[exemptions.ordered-stream]]
version = "0.2.0"
criteria = "safe-to-run"

[[exemptions.piper]]
version = "0.2.4"
criteria = "safe-to-run"

[[exemptions.r-efi]]
version = "5.2.0"
criteria = "safe-to-run"

[[exemptions.tracing-journald]]
version = "0.3.1"
criteria = "safe-to-run"

[[exemptions.uds_windows]]
version = "1.1.0"
criteria = "safe-to-run"

[[exemptions.winapi-i686-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-run"

[[exemptions.winapi-x86_64-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-run"
