[Unit]
Description=VSCode workspaces search provider for Gnome shell

[Service]
Type=dbus
BusName=de.swsnr.VSCodeSearchProvider
ExecStart=gnome-search-providers-vscode
