[D-BUS Service]
Name=de.swsnr.searchprovider.VSCode
Exec={PREFIX}/lib/gnome-search-providers-vscode/gnome-search-providers-vscode
SystemdService=de.swsnr.searchprovider.VSCode.service
